body{
    font-family:'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: white;
    border: 10px double;
    border-radius: 20px;
    border-color: #020269;
    overflow: auto;
}

h1{
    font-size: extra xx-large;
    text-align: left;
    color: #020269;
    padding-left: 20px;
}

h2{
    text-align: left;
    color: rgb(2, 2, 105);
    padding-left: 20px;
}

p u i{
    padding-left: 20px;
}

p{
    text-align: left;
    color: rgb(2, 2, 105);
}

li{
    color: rgb(2, 2, 105);
    padding-left: 30px;
}